/* Display Property Discussion */
@import-normalize; /* bring in normalize.css styles */

/* rest of app styles */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}
/* Display Property Discussion */
#div-1 {
    background-color: green;
    display: inline;
    }
    .button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 
}
h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

    
}
img {
  width: 100%;
}
#span-1 }
    background-color: purple;
    display: inline-block;
    
} 


#span-2 {
    background-color: red;
    display: block;
    text-align: center;
}

#div-2 {
    display: none;
    background-color: hotpink;
    text-align: center;
}

#img {
    display: inline-block;
    width:  250px;
    height: 250px;
}

#h1 {
    background-color: #87CEFA; /*hex code*/
        }
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: red;
  padding: 14px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#h2 {
    background-color: rgb(255,105,180);/*color value can use rgb*/
    width: 60%;
    text-align: center;
}
    .button  {
  border: none;
  color: white;
  padding: 15px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:  #336589 ;
}
 
  .box {
    background-color:  #336589;
    border: 1px solid black;
    margin: 5px;
        text-align: center;

}
}
#h3 {
    background-color: yellow;
    width: 40%;
    text-align: center;
}

.sample {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    text-align: center;
}

/* Float Property */

.img-float {
    width: 250px;
    height: 250px;
    float: inherit;
    text-align: center;
}

/* CSS Unit Values Discussion*/

.box {
    background-color: red;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.fifty-percent {
    width:  50%;
}

.one-hundred-pixels {
    width:  100px;
}

.parent {
    width: 135px;
    border: 2px solid navy;

    font-size: 30px;
}

.fifty-vw {
    width: 50vw;
}

.twenty-five-vh {
    height: 50vh;
}


.one-rem {
    font-size: 1rem;
}

.one-em {
    font-size: 1em;
}

.two-rem {
    font-size: 2rem;
}

.two-em {
    font-size: 2em;
}

.two-hundred-percent {
    font-size: 200%;
}

/* CSS Background Properties Discussion */
.background {
    min-height: 100vh;
    /*background-color: gray;*/
    background-repeat : no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: scroll;
    text-align: center;

}

.container-bg {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    text-align: center;
}

.bg-title{
    color: white;
    text-align: center;
    font-size: 5em;
    margin: 0;
    line-height: 35rem;

}
footer {

  padding: 3px;
  background-color: DarkSalmon;
  color:  #336589 ;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}
img
/* CSS Positioning */
.parent-element {
    background-color: skyblue;
    padding: 50px 10px;
    position: relative;
    height: 800px;
    text-align: center;
}

.child-one {
    background-color: gray;
    padding: 10px;
}

.child-two {
    background-color: yellow;
    padding: 10px;
    position: sticky;
    top: 10px;
}

.child-three {
    background-color:  #336589 ;
    padding: 10px;
}

html {
    height: 800vh;
    text-align: center;
}

/* Z-Index */

.container {
  position: relative;
  text-align: center;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3; /* gray box will be above both green and black box */
  background: lightgray;
  height: 60px;  
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2; /* green box will be above black box */
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}



